---
layout: page
title: Project List
permalink: /projects
description: "An archive of posts sorted by categories."

---

{% for tag in site.categories %}
<h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
<ul class="post-list">
  {% assign pages_list = tag[1] %}
  {% for post in pages_list %}
  {% if post.title != null %}
  {% if group == null or group == post.group %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
</ul>
{% endfor %}
